<div class="my-component">
	<h1>{{ title }}</h1>

	<h2>Material Examples!</h2>

	<mat-checkbox>Check me!</mat-checkbox>

	<br />
	<app-card></app-card>
	<br />

	<div>
		<span class="tag">{{ labels.portletNamespace }}:</span>
		<span class="value">{{ params.portletNamespace }}</span>
	</div>

	<div>
		<span class="tag">{{ labels.contextPath }}:</span>
		<span class="value">{{ params.contextPath }}</span>
	</div>

	<div>
		<span class="tag">{{ labels.portletElementId }}:</span>
		<span class="value">{{ params.portletElementId }}</span>
	</div>
</div>
